.button {
  margin-top: 2rem;
  padding: 1rem;

  &:last-child {
    margin-top: 1rem;
  }
}

.primary-button {
  background-color: var(--color-brand-600);
  color: var(--color-grey-0);
  border-radius: 20px;
  border: none;
}

.color-blue {
  background-color: var(--color-brand-600) !important ;
  color: var(--color-grey-0) !important;
  margin-top: 2rem;
}

.social-button-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-grey-0);
  color: var(--color-grey-700);
  border-radius: none;
  border: 0.5px solid var(--color-grey-300);
}

.social-button-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-grey-0);
  color: var(--color-grey-700);
  border-radius: none;
  border: 0.5px solid var(--color-grey-300);
}
