@import "../../sass/mixins.scss";

.hero {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../assets/Rectangle2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  position: relative;
  background-position: center;

  &__content {
    color: var(--color-grey-0);
    position: absolute;
    top: 25rem;
    left: 16.7rem;

    @include respond(tab-land) {
      top: 80%;
      left: 5rem;
    }

    &--heading {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &--para {
      font-size: 1.5rem;
      list-style: 2rem;
    }
  }
}
