@import "../sass/mixins.scss";

.newuserlayout {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  gap: 3.2rem;
  background-color: var(--color-grey-50);
  padding: 3rem;

  @include respond(phone) {
    padding: 0;
  }
}
