@import "../../sass/mixins.scss";

.filter {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0.5rem 1.3rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0);

  @include respond(tab-port) {
    padding: 2rem 1.5rem 1.3rem 1.5rem;
  }

  &__post {
    &--list {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 2rem;

    select {
      display: none;
    }
    @include respond(tab-port) {
      select {
        display: block;
      }
      button {
        display: none;
      }
    }
  }
}

.filtermargin {
  &__desktop {
    margin-right: 2rem;

    @include respond(tab-land) {
      display: none;
    }
  }
}
